<div class="row">
    <div class="col-8 mx-auto my-2 border rounded">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="row mb-3">
                            <div class="col-auto mx-auto">
                                <div class="display-6">Add Family Member</div>
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address/Phone Number</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email/phone with anyone else.</div>
                        </div>
                        <div class="mb-3" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">Send OTP</button>
                        </div>
                    </form>
                    <hr>
                </div>
                <form>
                    <div class="row mb-3">
                        <div class="col-2 pt-1">
                            <label for="enteringOtp" class="lead">OTP</label>
                        </div>
                        <div class="col-7">
                            <input type="text" class="form-control" id="enteringOtp" >
                            <div id="emailHelp" class="form-text">Please enter 6 digit OTP sent to your email/phone</div>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary">Verify OTP</button>
                        </div>
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>