<!-- NavBar-Section -->
<div>
    <app-nav-auth></app-nav-auth>
    <!-- <div *ngIf="loggedIn;then navAuthContent else navUnAuthContent"></div>
    <ng-template #navAuthContent>
        <app-nav-auth></app-nav-auth>
    </ng-template>
    <ng-template #navUnAuthContent>
        <app-nav-un-auth></app-nav-un-auth>
    </ng-template> -->
</div>

<!-- Body Section -->
<div class="row align-items-center mt-3" id="statement">
    <div class="col-md-6 mx-auto">
        <h1 class="display-5">
            Mission Statement
        </h1>
        <p class="mt-3 lead">
            At Billify, we strive to provide our customers with top-notch telecommunications services that are tailored to their specific needs. Our mission is to simplify the billing process, save our customers time and money and provide them with the best possible experience. We are committed to excellence, and our team of experts works tirelessly to ensure that our services are of the highest quality.
        </p>
    </div>
    <div class="col-md-6 mx-auto">
        <img src="../../../../assets/images/about.webp" alt="" width="">
    </div>
</div>
<div class="row mt-5 mb-5 bg-light" id="team">
    <div class="row">
        <h1 class="display-5">Our Team</h1>
        <p class="lead">Meet the Billify Team: The Experts Behind Our Top-notch Services</p>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <div class="row">
                <div class="col-md-4">
                    <img src="" alt="photo">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h2 class="mb-0">P. Sai Mohan</h2>
                        <h4 class="mt-0">Front-End</h4>
                    </div>
                    <p class="lead">
                        David’s leadership has been instrumental in making Billify a leading telecommunications service provider. With over 15 years of experience in the industry, he brings a wealth of knowledge and expertise to the table.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="row">
                <div class="col-md-4">
                    <img src="" alt="photo">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h2 class="mb-0">Siddharth Priyadarshi</h2>
                        <h4 class="mt-0">Front-End</h4>
                    </div>
                    <p class="lead">
                        David’s leadership has been instrumental in making Billify a leading telecommunications service provider. With over 15 years of experience in the industry, he brings a wealth of knowledge and expertise to the table.
                    </p>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="row" id="clientTestimonials">
    <div class="row">
        <h1>Client Testimonials</h1>
        <p class="lead">Hear What Our Clients Have to Say About Us</p>
    </div>
    div.col
</div>
<!-- Footer Section -->