
<!-- NavBar-Section -->
<div>
    <app-nav-auth></app-nav-auth>
    <!-- <div *ngIf="loggedIn;then navAuthContent else navUnAuthContent"></div>
    <ng-template #navAuthContent>
        <app-nav-auth></app-nav-auth>
    </ng-template>
    <ng-template #navUnAuthContent>
        <app-nav-un-auth></app-nav-un-auth>
    </ng-template> -->
</div>

<!-- Body Section -->
<div class="row mt-2 bg-light" id="section1">
    <div class="col-md-6 mx-auto">
        <div class="row">
            <h1 class="display-3">
                Effortless Billing Solutions for Your Telecom Needs
            </h1>
        </div>
        <div class="row mt-3">
            <p class="lead" style="font-size: 23px;">
                Billify is your go-to partner for seamless telecom billing solutions. We offer custom web app development, bill generation, and OTT services, including Netflix and Amazon Prime.
            </p>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <a href="#services" class="btn my-btn-primary" style="font-size: larger;">
                    All Services
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mx-auto">
        <img src="../../../../assets/images/laptop-desk.webp" alt="" >
    </div>
</div>
<div class="row mt-5 mb-5 align-items-center" id="partners">
    <div class="col-3 mx-auto">
        <h1 class="display-6">
            Our Partners
        </h1>
    </div>
    <div class="col-3 mx-auto">
        <img src="../../../../assets/images/netflix.jpg" alt="" width="auto" height="150px">
    </div>
    <div class="col-3 mx-auto">
        <img src="../../../../assets/images/prime.jpg" alt="" width="auto" height="150px" style="margin-left: 10px;">
    </div>
    <div class="col-3 mx-auto">
        <img src="../../../../assets/images/hotstar.jpg" alt="" width="auto" height="150px">
    </div>
</div>

<div class="row mt-5 bg-light" id="rating">
    <div class="col-sm-6 mx-auto">
        <div class="row">
            <div class="col-md-6">
                <div class="row ms-3">
                    <h2 class="display-6">
                        4.8+
                    </h2> 
                </div>
                <div class="row">
                    <img src="../../../../assets/images/ratings.png" alt="" width="auto" height="70px">
                </div>
                <div class="row ms-3">
                    <h4>2,394 ratings</h4>
                    <h4>Google Reviews</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row ms-3">
                    <h2 class="display-6">
                        A+
                    </h2>
                </div>
                <div class="row">
                    <img src="../../../../assets/images/ratings.png" alt="" width="auto" height="70px">
                </div>
                <div class="row ms-3">
                    <h4>125 reviews</h4>
                    <h4>AAB rating</h4>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-6 mx-auto">
        <div class="row">
            <h1 class="display-6">
                What Our Clients Say
            </h1>
        </div>
        <div class="row mt-3">
            <h3 style="font-weight: 500;">John Simpson</h3>
        </div>
        <div class="row mt-2">
            <p class="lead">
                Billify’s web app development was game-changing for our telecom business. The custom solution they created is user-friendly and efficient, making billing and tracking easy.
            </p>
        </div>
    </div>
</div>
<div class="row" id="services">
    <div class="row">
        <h1 class="display-3">
            Our Services
        </h1>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 mx-auto">
            <div class="row">
                <img src="../../../../assets/images/laptop-webapp.webp" alt="" width="auto" height="300px">
            </div>
            <div class="row mt-2">
                <h1 class="display-6" style="font-size: 30px;">
                    Web-App Development
                </h1>
            </div>
            <div class="row">
                <p class="lead">
                    We create web apps that are visually stunning and highly functional, providing a seamless user experience for your customers.
                </p>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="row">
                <img src="../../../../assets/images/ott-service.jpg" alt="" width="auto" height="300px">
            </div>
            <div class="row mt-2">
                <h1 class="display-6" style="font-size: 30px;">
                    OTT Services
                </h1>
            </div>
            <div class="row">
                <p class="lead">
                    Our OTT services provide your customers with a seamless experience, allowing them to access their favorite content across multiple devices and platforms.
                </p>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="row">
                <img src="../../../../assets/images/bill-generation.webp" alt="" width="auto" height="300px">
            </div>
            <div class="row mt-2">
                <h1 class="display-6" style="font-size: 30px;">
                    Bill Generation
                </h1>
            </div>
            <div class="row">
                <p class="lead">
                    Our bill generation software automates the billing process, ensuring accuracy and efficiency while providing a seamless experience for your customers.
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-5 bg-light">
        <div class="col-md-4 mx-auto">
            <div class="row mt-3">
                <h3>Features</h3>
            </div>
            <div class="row mx-auto">
                <ul>
                    <p>
                        <i class="bi bi-0-circle"></i>&nbsp;Custom Web App Development
                    </p>
                    <p>
                        <i class="bi bi-0-circle"></i>&nbsp;Efficient Bill Generation
                    </p>
                    <p>
                        <i class="bi bi-0-circle"></i>&nbsp;OTT Services, Including Netflix & Prime
                    </p>
                    <p>
                        <i class="bi bi-0-circle"></i>&nbsp;Reliable Billing Status Notifications
                    </p>
                    <p>
                        <i class="bi bi-0-circle"></i>&nbsp;Ongoing Support
                    </p>
                </ul>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="row mt-3">
                <h3>Benefits</h3>
            </div>
            <div class="row mx-auto">
                <ul>
                    <p>
                        <i class="bi bi-0-circle"></i>&nbsp;Streamlined Billing Processes
                    </p>
                    <p>
                        <i class="bi bi-0-circle"></i>&nbsp;Increased Customer Satisfaction
                    </p>
                    <p>
                        <i class="bi bi-0-circle"></i>&nbsp;Enhanced Telecom Offerings
                    </p>
                    <p>
                        <i class="bi bi-0-circle"></i>&nbsp;Flexible Billing Options
                    </p>
                    <p>
                        <i class="bi bi-0-circle"></i>&nbsp;Sustained Partnership
                    </p>
                </ul>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <img src="../../../../assets/images/feature.webp" alt="" width="auto" height="350px">
        </div>
    </div>
</div>
<!-- Footer Section -->