<app-nav-auth></app-nav-auth>
<div class="row mt-2 align-items-center" id="background">
    <div class="col-md-5 mx-auto">
        <img src="../../../../assets/images/signup-bg.svg" alt="" width="100%" height="450px">
    </div>
    <div [@leftRightAnimation] class="col-md-5 mx-auto border shadow" style="border-radius: 10px;">
        <form #signUpForm="ngForm" (ngSubmit)="signUp()" autocomplete="off">
            <div class="row mb-2">
                <div class="col-auto mt-2 mx-auto">
                    <div class="display-6" style="color: var(--secondary);">Sign-Up</div>
                </div>
            </div>
            <hr>
            <!-- Name field -->
            <div class="form-floating mb-2">
                <input #name="ngModel"
                    appNameValidator
                    type="text"
                    placeholder=""
                    class="form-control"
                    name="name"
                    [(ngModel)]="user.name"
                    required>
                <label for="Name" class="form-label">Full Name<small class="text-danger">*</small></label>
                <div *ngIf="name.dirty && name.errors?.['required']">
                    <small class="text-danger">Full Name is required field</small>
                </div>
                <div *ngIf="name.touched && name.errors?.['invalidName']">
                    <small class="text-danger">Please enter a valid name</small>
                </div>
            </div>
            <!-- Email field -->
            <div class="form-floating mb-2">
                <input #email="ngModel"
                    pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b"
                    type="email"
                    placeholder="email@example.com"
                    class="form-control"
                    name="email"
                    [(ngModel)]="user.email" required>
                <label for="Email" class="form-label">Email<small class="text-danger">*</small></label>
                <div *ngIf="email.dirty && email.errors?.['required']">
                    <small class="text-danger">Email is a required field</small>
                </div>
                <div *ngIf="email.touched && email.errors?.['pattern']">
                    <small class="text-danger">Please enter a valid email</small>
                </div>
            </div>
            <!--  -->
            <div class="mb-3 border rounded p-2">
                <label for="UserType" class="form-label">User Type<small class="required">*</small></label>
                <div class="row">
                    <div class="form-check col-auto mx-auto">
                        <input #userType="ngModel" [(ngModel)]="user.userType" class="form-check-input" type="radio" name="userTypes" id="superuser" value="superuser" required>
                        <label class="form-check-label" for="exampleRadios1">Super User</label>
                    </div>
                    <div class="form-check col-auto mx-auto">
                        <input [(ngModel)]="user.userType" class="form-check-input" type="radio" name="userTypes" id="normaluser" value="normaluser" required>
                        <label class="form-check-label" for="exampleRadios2">Normal User</label>
                    </div>
                </div>
                <div *ngIf="userType.dirty && userType.errors?.['required']">
                    <small class="text-danger">User Type is required</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password<small class="required">*</small>&nbsp;
                    <i class="bi bi-info-circle"
                        style="cursor: pointer;margin-top: 2px;"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Password must contain at least, 8 characters, one uppercase letter, one lowercase letter, one numeric digit, one special character.">
                    </i>
                </label>
                <input #password="ngModel"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="user.password" required>
                <div *ngIf="password.dirty && password.errors?.['required']">
                    <small class="text-danger">Password is a required field</small>
                </div>
                <div *ngIf="password.touched && password.errors?.['pattern']">
                    <small class="text-danger">Password must contain at least, 8 characters, one uppercase letter, one lowercase letter, one numeric digit, one special character.</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="ConfirmPassword1" class="form-label">Confirm Password<small class="required">*</small></label>
                <input #cnfPassword="ngModel"
                    [appCnfpassValidator]="'password'"
                    type="password"
                    class="form-control"
                    name="confirmPassword"
                    [ngModel]="user.confirmPassword" required>
                <div *ngIf="cnfPassword.dirty && cnfPassword.errors?.['required']">
                    <small class="text-danger">Password is a required field</small>
                </div>
                <div *ngIf="(password.value != cnfPassword.value)">
                    <small class="text-danger">Confirm Password and Password must be same</small>
                </div>
            </div>
            <div class="mt-1 mb-3" style="text-align: center;">
                <button [disabled]="!signUpForm.valid"
                    type="submit"
                    class="btn my-btn-primary">
                    <span *ngIf="spinner" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    Register
                </button>
            </div>
        </form>
    </div>
</div>

<!-- <a routerLink = ""><button>submit</button></a>
<a routerLink = "/login"><button>login</button></a> -->
<div class="toast-container position-fixed bottom-0 start-0 p-3">
    <div id="liveToast" class="toast" [ngClass]="{'show':showToast}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Billify</strong>
        <small>2 secs ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{message}}
      </div>
    </div>
  </div>