<app-nav-auth></app-nav-auth>
<div class="row mt-5 align-items-center">
    <div class="col-md-8 col-sm-4 text-center">
        <img src="../../../../assets/images/forgot_password-bg.svg" alt="" width="90%" height="450px">
    </div>
    <div [@leftRightAnimation] class="col-md-4 col-sm-8 mx-auto border rounded shadow">
        <form #verifyEmail="ngForm" (ngSubmit)="sendOTP(verifyEmail)" autocomplete="off">
            <div class="row mb-2">
                <div class="col-auto mt-2 mx-auto" style="color: var(--secondary);">
                    <div class="display-6" style="font-size: 30px;">Forgot Password</div>
                </div>
            </div>
            <hr>
            <div class="form-floating mb-2">
                <input #emailValidation="ngModel"
                    pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b"
                    type="email" class="form-control" 
                    placeholder="name@example.com"
                    name="email"
                    [(ngModel)]="email"
                    required>
                <label for="email" class="form-label">Email address<small class="text-danger">*</small></label>
                <div *ngIf="emailValidation.dirty && emailValidation.errors?.['required']">
                    <small class="text-danger">Email cannot be empty</small>
                </div>
                <div *ngIf="emailValidation.touched && emailValidation.errors?.['pattern']">
                    <small class="text-danger">Please enter a valid e-mail id</small>
                </div>
            </div>
            <div class="mb-2" style="text-align: center;">
                <button 
                    type="submit" 
                    class="btn my-btn-primary"
                    [disabled]="!verifyEmail.valid">
                    <!-- <span *ngIf="spinner" class="spinner-border spinner-border-sm" aria-hidden="true"></span> -->
                    Send OTP
                </button>
            </div>
        </form>
        <form *ngIf="validateOTPForm" #validateOTPForm="ngForm" (ngSubmit)="validateOTP(validateOTPForm)">
            <div class="form-floating mb-3">
                <input #otpValidation="ngModel"
                    type="text"
                    placeholder="exampleOTP"
                    class="form-control" 
                    name="otp"
                    [(ngModel)]="otp"
                    required>
                <label for="otp" class="form-label">OTP<small class="text-danger">*</small></label>
                <div *ngIf="otpValidation.dirty && otpValidation.errors?.['required']">
                    <small class="text-danger">OTP cannot be empty</small>
                </div>
            </div>
            <!-- <div class="text-center" *ngIf="successMessage">
                <small class="text-success">{{successMessage}}</small>
            </div>
            <div class="text-center" *ngIf="errmessage">
                <small class="text-danger">{{errmessage}}</small>
            </div> -->
            <div class="mb-3" style="text-align: center;">
                <button 
                    type="submit" 
                    class="btn my-btn-primary" 
                    [disabled]="!validateOTPForm.valid">
                    <!-- <span *ngIf="spinner" class="spinner-border spinner-border-sm" aria-hidden="true"></span> -->
                    Validate
                </button>
            </div>
        </form>
        <form *ngIf="changePasswordForm"  #changePasswordForm="ngForm" (ngSubmit)="changePass(changePasswordForm)" autocomplete="off" >
            <div class="mb-3">
                <label for="Password" class="form-label">Password<small class="required">*</small>&nbsp;
                    <i class="bi bi-info-circle"
                        style="cursor: pointer;margin-top: 2px;"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Password must contain at least, 8 characters, one uppercase letter, one lowercase letter, one numeric digit, one special character.">
                    </i>
                </label>
                <input #password="ngModel"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="pass"
                    required>
                <div *ngIf="password.dirty && password.errors?.['required']">
                    <small class="text-danger">Password is a required field</small>
                </div>
                <div *ngIf="password.touched && password.errors?.['pattern']">
                    <small class="text-danger">Password must contain at least, 8 characters, one uppercase letter, one lowercase letter, one numeric digit, one special character.</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="ConfirmPassword1" class="form-label">Confirm Password<small class="required">*</small></label>
                <input #cnfPassword="ngModel"
                    [appCnfpassValidator]="'password'"
                    type="password"
                    class="form-control"
                    name="confirmPassword"
                    ngModel
                    required>
                <div *ngIf="cnfPassword.dirty && cnfPassword.errors?.['required']">
                    <small class="text-danger">Password is a required field</small>
                </div>
                <div *ngIf="(password.value != cnfPassword.value)">
                    <small class="text-danger">Confirm Password and Password must be same</small>
                </div>
            </div>
            <div class="mb-3" style="text-align: center;">
                <button 
                    type="submit" 
                    class="btn my-btn-primary"
                    [disabled]="!changePasswordForm.valid">
                    <!-- <span *ngIf="spinner" class="spinner-border spinner-border-sm" aria-hidden="true"></span> -->
                    Change Password
                </button>
            </div>
        </form>
        
    </div>
</div>
