<div class="mb-0 row">
    <div class="col mx-auto">
        <h2>MyPlans</h2>
    </div>
    <div class="col mx-auto">
    </div>
</div>
<hr>
<div class="row">
    <div *ngIf="myPlans; else block">
        <div *ngFor="let plan of myPlans" class="col-sm-12 col-md-4 mx-auto my-1">
            <app-show-plans [myPlan]="true" [plan]="plan"></app-show-plans>
        </div>
    </div>
    <ng-template #block>
        <div class="row text-center">
            <h4>Please Subscribe To a Plan</h4>
        </div>
        <div class="row text-center">
            <img src="../../../../../assets/images/Mediamodifier-Design (2).svg" alt="subscribeplan" style="margin-top: -140px; margin-bottom: -140px;" height="600px">
        </div>
    </ng-template>
</div>