<!-- NavBar-Section -->
<div>
    <app-nav-auth></app-nav-auth>
    <!-- <div *ngIf="loggedIn;then navAuthContent else navUnAuthContent"></div>
    <ng-template #navAuthContent>
        <app-nav-auth></app-nav-auth>
    </ng-template>
    <ng-template #navUnAuthContent>
        <app-nav-un-auth></app-nav-un-auth>
    </ng-template> -->
</div>

<!-- Body Section -->
<div class="row mt-5 align-items-center">
    <div class="col-md-6 mx-auto">
        <div class="row">
            <h1 class="display-5">Have Questions ?</h1>
        </div>
        <div class="row">
            <p class="m-0" style="font-size: larger;">Please feel free to call or email us,</p>
            <p class="m-0" style="font-size: larger;">or use our contact form to get in touch with us.</p>
            <p class="m-0" style="font-size: larger;">We look forward to hearing from you!</p>
        </div>
        <div class="row mt-3">
            <p class="lead" style="font-size: x-large;"><strong>Emergency? Call Us:</strong></p>
        </div>
        <div class="row mt-1">
            <p class="lead" style="font-size:large">+1800-666-999</p>
        </div>
        <div class="row mt-1">
            <p class="lead" style="font-size: x-large;"><strong>Send Us Mail</strong></p>
        </div>
        <div class="row mt-1">
            <p class="lead" style="font-size: large;">billify@gmail.com</p>
        </div>
        <div class="row mt-1">
            <p class="lead" style="font-size: x-large;"><strong>Find the Studio</strong></p>
        </div>
        <div class="row mt-1">
            <div class="col-md-11 mx-auto">
                <iframe class="shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53965.54857192739!2d115.7513451543501!3d-32.28909700359913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a3285bf2fca8f61%3A0xbb114416a41985d!2sOne71%20Baldivis%20Sales%20Office!5e0!3m2!1sen!2sin!4v1697682881814!5m2!1sen!2sin" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-6 mx-auto">
        <div class="row border shadow rounded px-3">
            <div class="col-sm-10 mx-auto">
                <div class="mt-5 mb-3">
                    <input type="text" class="form-control" placeholder="Full Name" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Email Address" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Subject" required>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                </div>
                <div class="row mb-5">
                    <button class="btn my-btn-primary col-md-6 mx-auto"> Send Message</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 text-center bg-light" id="newsLetter">
    <div class="row mt-3">
        <h1 class="display-5">Subscribe to Newsletter</h1>
        <p class="lead">Enter your email address to register to our newsletter subscription!</p>
    </div>
    <div class="row mt-2">
        <div class="col-md-7 mx-auto">
            <input type="email" class="form-control" placeholder="Email Address" required>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-md-2 mx-auto">
            <button class="btn my-btn-primary">Send</button>
        </div>
    </div>
</div>
<div class="row mt-5 mb-2 align-items-center">
    <div class="col-md-6 mx-auto">
        <i class="bi bi-instagram"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="bi bi-twitter-x"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="bi bi-youtube"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="bi bi-linkedin"></i>
    </div>
    <div class="col-md-6 mx-auto text-end">
        <p>&copy; 2023 Billify</p>
        <p>All rights reserved</p>
    </div>
</div>
<!-- Footer Section -->