.nav-hover a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: inline-block;
    position: relative;
}
.nav-hover a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--secondary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-hover a:hover:after { 
    width: 100%; 
    left: 0; 
}

.green-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(214, 193, 193);
    border-radius: 50%;
    animation: beep 1s ease-in-out infinite;
}
  
@keyframes beep {
    0% {
        background-color: rgb(214, 193, 193);;
        transform: scale(1);
    }
    50% {
        background-color: green; /* Change color during the animation */
        transform: scale(1.2); /* Grow the dot */
    }
    100% {
        background-color: rgb(214, 193, 193);;
        transform: scale(1);
    }
}

.red-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(214, 193, 193);
    border-radius: 50%;
    animation: beep-red 1s ease-in-out infinite;
}
  
@keyframes beep-red {
    0% {
        background-color: rgb(214, 193, 193);;
        transform: scale(1);
    }
    50% {
        background-color: red; /* Change color during the animation */
        transform: scale(1.2); /* Grow the dot */
    }
    100% {
        background-color: rgb(214, 193, 193);;
        transform: scale(1);
    }
}
