<div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">{{plan?.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Number of Persons: {{plan?.maxPersons}}</li>
      <li class="list-group-item">Pricing: Rs.{{plan?.price}}/month</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">More Details</a>
      <a href="#" class="card-link">Subscribe Plan</a>
    </div>
</div>