<div *ngIf="plan?.planType=='MOBILE'">
  <div class="card shadow mx-auto" style="width: 300px;height: 380px;" id="card-hover">
    <img src="./../../../../assets/images/netflix.jpg" class="card-img-top" alt="netflix-img" height="" width="">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 30px;font-weight: 700; margin-bottom: 5px;">{{plan?.name}}</h5>
      <div class="row">
        <div class="col-md-6">
            <p style="font-size: 15px; margin-bottom: 0px;">Unlimited</p>
            <p style="font-size: 13px; margin-bottom: 0px;">Internet</p>
        </div>
        <div class="col-md-6">
            <p style="font-size: 15px; margin-bottom: 0px;">Upto 40 mbps</p>
            <p style="font-size: 13px; margin-bottom: 0px;">Internet</p>
        </div>
    </div>
    <div class="row">
        <p style="font-size: 13px; margin-bottom: 0px;margin-top: 12px;">Includes Airtel Thanks Benifit</p>
    </div>
    <div class="card-body row align-items-center">
        <div class="col-md-6">
            <p style="font-size: 12px;margin-bottom: 0px;">Monthly Rental</p>
            <h3 style="font-size: 23px;margin-bottom: 0px;">Rs.{{plan?.price}}</h3>
        </div>
        <div *ngIf="subscribeBtn" class="col-md-6">
          <button class="btn my-btn-primary-outline" style="font-size: 15px;">Buy Now</button>
        </div>
        <div *ngIf="!subscribeBtn" class="col-md-6">
          <button class="btn my-btn-primary-outline" style="font-size: 15px;">Subscribed</button>
        </div>
    </div>
    </div>
  </div>
  <!-- <div class="card">
    <img src="..." class="card-img-top" alt="...">//
    <div class="card-body">
      <h5 class="card-title">{{plan?.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Number of Persons: {{plan?.maxPersons}}</li>
      <li class="list-group-item">Pricing: Rs.{{plan?.price}}/month</li>
      
      <li>{{plan?.uuid}}</li>//
    </ul>
    <div *ngIf="subscribeBtn" class="card-body py-2 row">
      <button class="btn btn-primary mx-auto" data-bs-toggle="modal" [attr.data-bs-target]="planId">Subscribe</button>
    </div>
    <div *ngIf="!subscribeBtn" class="card-body py-2 row">
      <button class="btn btn-success mx-auto" [disabled]="!subscribeBtn">Subscribed</button>
    </div>
  </div>  -->
</div>

<div *ngIf="subscribeBtn" class="modal fade" id="{{pid}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">Do You Really Want to subscribe to the plan.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button (click)="subscribe(plan?.uuid)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- <div id="card">
  <div id="img-container">
      <img id="card-img" src="pexels-freestocksorg-987586.jpg">
  </div>
  <div id="card-content">
      <div id="card-heading">
          <p id="heading"><b>Unlimited1</b></p>
          
          
          <div id="card-plans">

              <div class="plans-container">
                  <p class="plans-title">Unlimited</p>
                  <p class="plans-type">Internet</p>
              </div>
              <div class="plans-container">
                  <p class="plans-title">Upto 40 mbps</p>
                  <p class="plans-type">Internet</p>
              </div>


          </div>
      </div>


      <div id="add-ons">
          <p id="title"> Includes Airtel Thanks benefits</p>
          <div id="icons-container">
              <div class="icons">
                  <img class="icons-img" src="x-stream.png">
                  <p id="img-title">Airtel x-stream</p>
              </div>

              <div class="icons">
                  <img class="icons-img" src="x-stream.png">
                  <p id="img-title">Airtel x-stream</p>
              </div>

              <div class="icons">
                  <img class="icons-img" src="x-stream.png">
                  <p id="img-title">Airtel x-stream</p>
              </div>
          </div>
      </div>

      <div id="card-cta">
          <div id="price-container">
              <p id="price-heading">Monthly Rental</p>
              <p id="price"><b>Rs. 499</b></p>
          </div>
          <div id="btn">
              <p class = "text">BUY NOW</p>
          </div>

      </div>
  </div>

  <div id="card-footer">
      <div>
          <p class = "card-footer-title1">Xstream DTH box with 1 month HD pack</p>
          <p class = "card-footer-title2">Watch webseries & TV channels on your TV</p>
      </div>
  </div>
  
</div> -->