<app-nav-auth></app-nav-auth>
<div class="row mt-5 align-items-center">
    <div [@rightLeftAnimation] class="col-md-4 col-sm-8 mx-auto rounded shadow">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" autocomplete="off">
            <div class="row mb-3">
                <div class="col-auto mt-2 mx-auto" style="color: var(--secondary);">
                    <div class="display-6">Log-In</div>
                </div>
            </div>
            <hr>
            <div class="form-floating mb-3">
                <input #email="ngModel"
                    pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b"
                    type="email" class="form-control" 
                    placeholder="name@example.com"
                    name="email"
                    [(ngModel)]="user.email" required>
                <label for="email" class="form-label">Email address<small class="text-danger">*</small></label>
                <div *ngIf="email.dirty && email.errors?.['required']">
                    <small class="text-danger">Email cannot be empty</small>
                </div>
                <div *ngIf="email.touched && email.errors?.['pattern']">
                    <small class="text-danger">Please enter a valid e-mail id</small>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input #password="ngModel" 
                    type="password"
                    placeholder="password"
                    class="form-control" 
                    name="password" 
                    [(ngModel)]="user.password" required>
                <label for="password" class="form-label">Password<small class="text-danger">*</small></label>
                <div *ngIf="password.dirty && password.errors?.['required']">
                    <small class="text-danger">Password cannot be empty</small>
                </div>
            </div>
            <div class="mb-2" style="text-align: end;">
                <a id="forgotPassword" class="hover-underline-animation" routerLink="/forgotPassword" style="color: var(--secondary);">Forgot Password?</a>
            </div>
            <!-- <div class="text-center" *ngIf="showSuccessToast">
                <app-toast [message]="message"></app-toast>
                <small class="text-success">{{successMessage}}</small>
            </div>
            <div class="text-center" *ngIf="showErrorToast">
                <app-toast [message]="message"></app-toast>
                <small class="text-danger">{{errmessage}}</small>
            </div> -->
            <!-- {{email.invalid}}
            {{password.invalid}}
            {{loginForm.valid}} -->
            <div class="mb-3" style="text-align: center;">
                <button 
                    type="submit" 
                    class="btn my-btn-primary" 
                    [disabled]="!loginForm.valid || spinner">
                    <span *ngIf="spinner" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    LogIn
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-8 col-sm-4 text-center">
        <img src="../../../../assets/images/login-bg.svg" alt="" width="90%" height="450px">
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" [ngClass]="{'show':showToast}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Billify</strong>
        <small>2 secs ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{message}}
      </div>
    </div>
  </div>