<div class="row">
  <!-- <router-outlet></router-outlet> -->
  <div class="row mt-2 mx-auto">
      <div class="col-3 text-center mx-auto">
          <h4>MY BILLS</h4>
      </div>
      <!-- <div class="col-3 ms-auto">
          <h3>Filters</h3>
      </div> -->
      <hr>
  </div>
  <div class="mx-auto row">
    <table class="table text-center table-hover">
      <thead>
        <tr> 
          <th scope="col">#</th>
          <th scope="col">BID</th>
          <th scope="col">DUE DATE</th>
          <th scope="col">STATUS</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">PAID ON</th>
        </tr>
      </thead>
      <tbody class="text-center" *ngFor="let b of bills;let i=index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td><a [ariaDisabled]="!b.paymentStatus" routerLink="/dashboard/{{username}}/showBills/{{b.invoiceUuid}}">#{{b.invoiceUuid.slice(0,5)}}</a></td>
          <td>{{b.dueDate|date}}</td>
          <td>
            <div *ngIf="b.paymentStatus">
              paid
            </div>
            <div *ngIf="!b.paymentStatus">
              pending
            </div>
          </td>
          <td>Rs.{{b.amount}}</td>
          <td>
            <div *ngIf="b.paymentStatus">
              {{b.paymentDate|date}}
            </div>
            <div *ngIf="!b.paymentStatus">
              -
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
