<app-nav-auth></app-nav-auth>

<div class="container row view">
    <div class="col-xs-1 col-md-1 text-center border rounded mx-1 d-none mx-auto" id="sideMenuCollapsed">
        <div class="list-group">
            <div class="navbar mx-auto">
                <button class="btn" type="button" (click)="openNav()" id="navToggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="dashboard-navigation-menu">
                <button routerLink="/admin" type="button" class="list-group-item list-group-item-action" (click)="highlightedButton(1)" [class.active]="selectedButton === 1"><i class="bi bi-house-door-fill"></i></button>
                <button routerLink="viewAllUsers" type="button" class="list-group-item list-group-item-action" (click)="highlightedButton(2)" [class.active]="selectedButton === 2"><i class="bi bi-people-fill"></i></button>
                <button routerLink="generateInvoice" type="button" class="list-group-item list-group-item-action" (click)="highlightedButton(3)" [class.active]="selectedButton === 3"><i class="bi bi-receipt-cutoff"></i></button>
                <button routerLink="generateInvoice" type="button" class="list-group-item list-group-item-action"><i class="bi bi-person-circle"></i></button>
                <button routerLink="generateInvoice" type="button" class="list-group-item list-group-item-action"><i class="bi bi-bar-chart-line-fill"></i></button>
            </div>
        </div>
    </div>
    <div class="col-xs-3 col-md-3 text-center border rounded" id="sideMenu">
        <div class="list-group">
            <div class="navbar px-3">
                <h3 class="mb-0">Admin</h3>
                <button class="btn" type="button"  (click)="closeNav()" id="navToggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="dashboard-navigation-menu">
                <button routerLink="/admin" type="button" class="list-group-item list-group-item-action" (click)="highlightedButton(1)" [class.active]="selectedButton === 1">Home</button>
                <button routerLink="viewAllUsers" type="button" class="list-group-item list-group-item-action" (click)="highlightedButton(2)" [class.active]="selectedButton === 2">View Users</button>
                <button routerLink="generateInvoice" type="button" class="list-group-item list-group-item-action" (click)="highlightedButton(3)" [class.active]="selectedButton === 3">Generate Invoice</button>
                <button routerLink="readCSV" type="button" class="list-group-item list-group-item-action" (click)="highlightedButton(4)" [class.active]="selectedButton === 4">Read CSV</button>
                <button type="button" class="list-group-item list-group-item-action">Stats</button>
                <button type="button" class="list-group-item list-group-item-action">My Profile</button>
            </div>
        </div>
    </div>
    <div class="col-xs-9 col-md-9 border rounded" id="content">
        <router-outlet></router-outlet>
    </div>
</div>