<div class="row">
    <div class="col mx-auto">
        <p class="display-6">Showing bill id-#{{bid}}</p>
    </div>
    <div class="col mx-auto text-end pt-3">
        <a type="button" class="btn my-btn-primary" href="javascript:window.history.back();">Back</a>
    </div>
</div>
<div class="container border rounded" id="full">
    <div class="row" id="header">
        <div class="col mt-2 text-center mx-auto">
            <h1>Invoice #{{invoice.invoiceUuid.slice(0,5)}}</h1>
        </div>
    </div>
    <hr>
    <hr/>
    <div class="row">
        <h4>Invoice Summary</h4>
    </div>
    <div class="row mt-3 mx-4 border rounded" id="InvoiceSummary">
        <table class="table border text-center border-3">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Plan Name</th>
                <th scope="col">Plan Type</th>
                <th scope="col">Validity</th>
                <th scope="col">Rate</th>
                </tr>
            </thead>
            <tbody *ngFor="let s of subs,let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{s.name}}</td>
                    <td>{{s.planType}}</td>
                    <td>{{s.validity}}</td>
                    <td>{{s.price}}</td>
                    <td hidden>{{total+s.price|number}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row" id="Subtotal">
            <div class="col-10 text-end">
                <h5>Subtotal:</h5>
            </div>
            <div class="col-2 ps-4">
                <!-- <div *ngIf="invoice.amount"></div> -->
                <h5>${{total|number:'1.2-2'}}</h5>
            </div>
        </div>
        <div class="row" id="Tax">
            <div class="col-10 text-end">
                <h5>Tax</h5>
            </div>
            <div class="col-2 ps-4">
                <h5>$51.50</h5>
            </div>
        </div>
        <div class="row" id="Total">
            <div class="col-10 text-end">
                <h5>Total:</h5>
            </div>
            <div class="col-2 ps-4">
                <h5>${{invoice.amount+50.50|number:'1.2-2'}}</h5>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row mt-3">
        <div class="col-6 text-center">
            <div><i class="bi bi-globe-americas"></i>&nbsp;billifySite.com</div>
            <div><i class="bi bi-envelope-at-fill"></i>&nbsp;billify@email.com</div>
        </div>
        <div class="col-6 text-center">
            <div><i class="bi bi-telephone-outbound-fill"></i>&nbsp;1800-333-666</div>
            <div><i class="bi bi-buildings-fill"></i>&nbsp;34, Downing Street, Italy</div>
        </div>
    </div>
    
</div>