<div class="row">
    <div class="col mx-auto pt-3">
        <a href="javascript:window.history.back();"><i class="bi bi-arrow-left-circle-fill" style="color: var(--secondary);font-size: 25px;"></i></a>
        
    </div>
</div>
<div class="container border rounded" id="full">
    <div class="row align-items-center" id="header">
        <div class="col-md-5 mt-2 text-center mx-auto">
            <h3>Invoice #{{invoice.invoiceUuid.slice(0,5)}}</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <h5 class="ms-4" >Invoice Summary</h5>
    </div>
    <div class="row mt-3 mx-4 border rounded" id="InvoiceSummary">
        <table class="table border text-center border-3">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Plan Name</th>
                <th scope="col">Plan Type</th>
                <th scope="col">Validity</th>
                <th scope="col">Rate</th>
                </tr>
            </thead>
            <tbody *ngFor="let s of subs,let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{s.name}}</td>
                    <td>{{s.planType}}</td>
                    <td>{{s.validity}}</td>
                    <td>{{s.price}}</td>
                    <td hidden>{{s.price|number}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row" id="Subtotal">
            <div class="col-10 text-end">
                <h5>Subtotal:</h5>
            </div>
            <div class="col-2 ps-4">
                <!-- <div *ngIf="invoice.amount"></div> -->
                <h5>Rs.{{invoice.amount|number:'1.2-2'}}</h5>
            </div>
        </div>
        <div class="row" id="Tax">
            <div class="col-10 text-end">
                <h5>Tax</h5>
            </div>
            <div class="col-2 ps-4">
                <h5>Rs.51.50</h5>
            </div>
        </div>
        <div class="row" id="Total">
            <div class="col-10 text-end">
                <h5>Total:</h5>
            </div>
            <div class="col-2 ps-4">
                <h5>Rs.{{invoice.amount+50.50|number:'1.2-2'}}</h5>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 text-center">
            <div><i class="bi bi-globe-americas"></i>&nbsp;billifySite.com</div>
            <div><i class="bi bi-envelope-at-fill"></i>&nbsp;billify@email.com</div>
        </div>
        <div class="col-6 text-center">
            <div><i class="bi bi-telephone-outbound-fill"></i>&nbsp;1800-333-666</div>
            <div><i class="bi bi-buildings-fill"></i>&nbsp;34, Downing Street, Italy</div>
        </div>
    </div>
    <div class="row mt-5 mb-3">
        <div class="col-4 text-center mx-auto">
            <button class="btn my-btn-primary" style="width: 250px;position:fixed;bottom: 10px; left: 50%;">Pay</button>
        </div>
    </div>
</div>