<div class="row">
    <div class="col-8 mx-auto my-2 border rounded">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form (ngSubmit)="addMember()" autocomplete="off">
                        <div class="row mb-3">
                            <div class="col-auto mx-auto">
                                <div class="display-6">Add Family Member</div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-floating mb-3">
                            <input type="text" placeholder="name@example.com" class="form-control" name="email" aria-describedby="emailHelp">
                            <label for="email" class="form-label">Email address</label>
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" placeholder="9876543211" class="form-control" name="phoneNumber" aria-describedby="phoneHelp" [(ngModel)]="memberUser.phoneNumber">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <!-- <div id="phoneHelp" class="form-text">We'll never share your phone Number with anyone else.</div> -->
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" placeholder="ExampleName" class="form-control" id="MemberName" name="memberName" [(ngModel)]="memberUser.name">
                            <label for="memberName" class="form-label">Member Name</label>
                        </div>
                        <div class="mb-3" style="text-align: center;">
                            <button type="submit" class="btn my-btn-primary">Add Member</button>
                        </div>
                    </form>
                    <!-- <hr> -->
                </div>
                <!-- <form>
                    <div class="row mb-3">
                        <div class="col-2 pt-1">
                            <label for="enteringOtp" class="lead">OTP</label>
                        </div>
                        <div class="col-7">
                            <input type="text" class="form-control" id="enteringOtp" >
                            <div id="emailHelp" class="form-text">Please enter 6 digit OTP sent to your Email</div>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn my-btn-primary">Verify OTP</button>
                        </div>
                        
                    </div>
                    
                </form> -->
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 start-0 p-3">
    <div id="liveToast" class="toast" [ngClass]="{'show':showToast}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Billify</strong>
        <small>2 secs ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{message}}
      </div>
    </div>
  </div>