<h3 class="mt-2">Admin Home...</h3>
<hr>
<div class="row">
  <div class="col-md-6 col-xl-3">
    <div class="card" style="background-color: var(--primary-subtle);">
      <div class="card-body">
        <h6 class="text-white">Orders Received</h6>
        <h2 class="text-end text-white"><i class="feather icon-shopping-cart float-start"></i><span>486</span></h2>
        <p class="text-white">Completed Orders<span class="float-end">351</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card" style="background-color: var(--primary-subtle);">
      <div class="card-body">
        <h6 class="text-white">Orders Received</h6>
        <h2 class="text-end text-white"><i class="feather icon-shopping-cart float-start"></i><span>486</span></h2>
        <p class="text-white">Completed Orders<span class="float-end">351</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card" style="background-color: var(--primary-subtle);">
      <div class="card-body">
        <h6 class="text-white">Orders Received</h6>
        <h2 class="text-end text-white"><i class="feather icon-shopping-cart float-start"></i><span>486</span></h2>
        <p class="text-white">Completed Orders<span class="float-end">351</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card" style="background-color: var(--primary-subtle);">
      <div class="card-body">
        <h6 class="text-white">Orders Received</h6>
        <h2 class="text-end text-white"><i class="feather icon-shopping-cart float-start"></i><span>486</span></h2>
        <p class="text-white">Completed Orders<span class="float-end">351</span></p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-4 mx-auto my-2">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4 mx-auto my-2">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4 mx-auto my-2">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4 mx-auto my-2">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4 mx-auto my-2">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4 mx-auto my-2">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div> -->