<div class="row mt-5">
  <div class="col-md-6 col-xl-3">
    <div class="card" style="background-color: var(--tertiary);">
      <div class="card-body">
        <h6 style="font-size: medium;font-weight: 700;">Total Members</h6>
        <h2 class="row" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-person"></i>
          </div>
          <div class="col text-end">
            <span>{{information.totalMembers}}</span>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card bg-primary bg-opacity-50">
      <div class="card-body">
        <h6 style="font-size: medium;font-weight: 700;">Plans Subscribed</h6>
        <h2 class="row" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-tag"></i>
          </div>
          <div class="col text-end">
            <span>{{information.nosOfPlansSubscribed}}</span>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card bg-warning bg-opacity-50">
      <div class="card-body">
        <h6 style="font-size: medium;font-weight: 700;">Invoice Generated</h6>
        <h2 class="row" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-receipt"></i>
          </div>
          <div class="col text-end">
            <span>{{information.invoiceGenerated}}</span>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card bg-success bg-opacity-50">
      <div class="card-body">
        <h6 style="font-size: medium;font-weight: 700;">Active Accounts</h6>
        <h2 class="row" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-award"></i>
          </div>
          <div class="col text-end">
            <span>{{information.activeAccount}}</span>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 my-5">
    <div class="card bg-success bg-opacity-50">
      <div class="card-body">
        <h6 style="font-size: medium;font-weight: 700;">Total Users</h6>
        <h2 class="row" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-person"></i>
          </div>
          <div class="col text-end">
            <span>{{information.totalUsers}}</span>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 my-5">
    <div class="card bg-warning bg-opacity-50">
      <div class="card-body">
        <h6 style="font-size: medium;font-weight: 700;">Total Plans</h6>
        <h2 class="row" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-tag"></i>
          </div>
          <div class="col text-end">
            <span>{{information.totalPlans}}</span>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 my-5">
    <div class="card bg-primary bg-opacity-50">
      <div class="card-body">
        <h6 style="font-size: medium;font-weight: 700;">Invoice Paid</h6>
        <h2 class="row" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-receipt"></i>
          </div>
          <div class="col text-end">
            <span>{{information.invoicePaid}}</span>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 my-5">
    <div class="card bg-danger bg-opacity-50">
      <div class="card-body">
        <h6 style="font-size: medium;font-weight: 700;">Suspended</h6>
        <h2 class="row" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-award"></i>
          </div>
          <div class="col text-end">
            <span>{{information.suspendedAccount}}</span>
          </div>
        </h2>
      </div>
    </div>
  </div>
</div>