<div class="row mt-3">
  <div class="col-md-6 col-xl-3">
    <div class="card" style="background-color: var(--tertiary);">
      <div class="card-body">
        <h6 class="text-white" style="font-size: medium;font-weight: 700;">Total Members</h6>
        <h2 class="row text-white" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-person"></i>
          </div>
          <div class="col text-end">
            <span>{{information.totalMembers}}</span>
          </div>
        </h2>
        <p class="text-white" style="font-size: small; margin-bottom: 0px;">Total Users<span class="float-end">{{information.totalUsers}}</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card" style="background-color: var(--quaternary);">
      <div class="card-body">
        <h6 style="font-size: medium;font-weight: 700;">Plans Subscribed</h6>
        <h2 class="row" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-tag"></i>
          </div>
          <div class="col text-end">
            <span>{{information.nosOfPlansSubscribed}}</span>
          </div>
        </h2>
        <p style="font-size: small; margin-bottom: 0px;">Total Plans<span class="float-end">{{information.totalPlans}}</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card" style="background-color: var(--tertiary);">
      <div class="card-body">
        <h6 class="text-white" style="font-size: medium;font-weight: 700;">Invoice Generated</h6>
        <h2 class="row text-white" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-receipt"></i>
          </div>
          <div class="col text-end">
            <span>{{information.invoiceGenerated}}</span>
          </div>
        </h2>
        <p class="text-white" style="font-size: small; margin-bottom: 0px;">Invoice Paid<span class="float-end">{{information.invoicePaid}}</span></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card" style="background-color: var(--quaternary);">
      <div class="card-body">
        <h6 style="font-size: medium;font-weight: 700;">Active Accounts</h6>
        <h2 class="row" style="font-size: x-large;">
          <div class="col">
            <i class="bi bi-award"></i>
          </div>
          <div class="col text-end">
            <span>{{information.suspendedAccount}}</span>
          </div>
        </h2>
        <p style="font-size: small; margin-bottom: 0px;">Suspended Accounts<span class="float-end">{{information.activeAccount}}</span></p>
      </div>
    </div>
  </div>
</div>