<app-nav-auth></app-nav-auth>
<app-toast [message]="toastMessage"></app-toast>
<h1>Welcome to DashBoard Mr.{{username}}</h1>
<!-- {{'loggedIn: '+loggedIn}} -->
<div class="container row">
    <div class="col-xs-1 col-md-1 text-center border rounded mx-1 d-none mx-auto" id="sideMenuCollapsed">
        <div class="list-group">
            <div class="navbar mx-auto">
                <button class="btn" type="button" (click)="openNav()" id="navToggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <button routerLink="allPlans" type="button" class="list-group-item list-group-item-action">All</button>
            <button routerLink="myPlans" type="button" class="list-group-item list-group-item-action" aria-current="true"><i class="bi bi-bookmarks-fill"></i></button>
            <button routerLink="addMember" type="button" class="list-group-item list-group-item-action"><i class="bi bi-person-add"></i></button>
            <div class="list-group-item">
                <div class="accordion" id="#accordionExampleOne">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button (click)="openNav()" class="btn p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="bi bi-people"></i>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
                            <div class="accordion-body p-0">
                                <div *ngFor="let m of allMembers" class="list-group border-0">
                                    <button type="button" class="list-group-item list-group-item-action p-1"><i class="bi bi-person"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button routerLink="myBills" type="button" class="list-group-item list-group-item-action"><i class="bi bi-receipt-cutoff"></i></button>
            <button routerLink="myProfile" type="button" class="list-group-item list-group-item-action"><i class="bi bi-person-circle"></i></button>
        </div>
    </div>
    <div class="col-xs-3 col-md-3 text-center border rounded" id="sideMenu">
        <div class="list-group">
            <div class="navbar px-3">
                <h3 class="mb-0">Menu</h3>
                <button class="btn" type="button"  (click)="closeNav()" id="navToggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <button routerLink="allPlans" type="button" class="list-group-item list-group-item-action">All Plans</button>
            <button routerLink="myPlans" type="button" class="list-group-item list-group-item-action" aria-current="true">My Plans</button>
            <button routerLink="addMember" type="button" class="list-group-item list-group-item-action">Add Member</button>
            
            <div class="list-group-item">
                <div class="accordion" id="#accordionExampleTwo">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                View Members
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExampleTwo">
                            <div class="accordion-body p-2">
                                
                                
                                <div *ngFor="let m of allMembers" class="list-group border-0">
                                    
                                    <button (click)="loadComponent($event)" class="list-group-item list-group-item-action p-1">{{m.name}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button routerLink="myBills" type="button" class="list-group-item list-group-item-action">My Bills</button>
            <button routerLink="myProfile" type="button" class="list-group-item list-group-item-action">My Profile</button>
        </div>
    </div>
    <div class="col-xs-9 col-md-9 border rounded" id="content">
        <router-outlet></router-outlet>
    </div>
</div>